<h1>YOUR TABLE</h1>
<h3>Business Page</h3>
<a href="/manager/register" >Manager Registration</a>
<a href="/manager/login">Manager Login</a>
<a class="btn btn-warning" href="/restaurant/create" >Add a New Restaurant</a>

<a href="/restaurant/find" >Edit Restaurant Details</a>
