<h1>Reservation Confirmation</h1>

<p>Hey your reservation has {{transaction}}. Your reservation code is</p> 
<p class="font-weight-bold lead">{{ReservationNumber}}</p>
<p>Thank you for choosing us!</p>