
<h1>YOUR TABLE</h1>
<h3>Edit Reservation</h3>

<form action="/reservation/confirmation?_method=PUT" method="POST" class="edit-RSVN-form" id="edit-RSVN-form">

  <label for="custNumPeople">
    Number of People<br>
    <input type="number" name="custNumPeople" id="custNumPeople"  value="{{custInput.NumberOfPeople}}" /><br>
  </label>
  
  <label for="custTime">
    Reservation Time<br>
    <input type="text" name="custTime" id="custTime" value="{{custInput.ReservationTime}}"/><br>
  </label>
  
  <label for="custPref">
    Reservation Preference<br>
    <input type="text" name="custPref" id="custPref" value="{{custInput.CustomerPreference}}"/><br>
  </label>

  <input type="hidden" name="reservationID" id="reservationID" value="{{custInput._id}}">
  
  <button type="submit">Change Reservation</button><br>

  <button type="submit" formaction="/reservation/confirmation?_method=DELETE" onclick="return confirm('Are you sure you want to Delete Reservation?')">Delete Reservation</button>
  
</form>
  