<article class="edit-RSVN">
  <header>
    <h1>Edit Reservation</h1>
  </header>
  <p>(This description is subject to change)Please edit your reservation. 
  </p>
  {{!-- TODO: change action URL --}}
  <form action="/" method="POST" class="edit-RSVN-form" id="edit-RSVN-form">
    {{!-- TODO: change it to drop down or not? --}}
    <label for="custNumPeople">
      Number of People
      <input type="number" name="custNumPeople" id="custNumPeople" placeholder="Number of people" value="{{custInput.custNumPeople}}"/>
    </label>
    {{!-- TODO: change it to radio selection --}}
    <label for="custTime">
      Reservation Time
      <input type="text" name="custTime" id="custTime" placeholder="Reservation Time" value="{{custInput.custTime}}"/>
    </label>
    <label for="custPref">
      Reservation Preference
      <input type="text" name="custPref" id="custPref" placeholder="Reservation Preference" value="{{custInput.custPref}}"/>
    </label>
    {{!-- TODO: add delete reservation button --}}
    <button type="submit">Change Reservation</button>
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</article>