{{!-- TODO: styling --}}
<form method="POST" action="/reservation/results">
  <label for="editReservationNum">
    Reservation Number:<br>
    <input type="text" name="editReservationNum" id="editReservationNum"><br>
  </label>

  <p>OR</p>
  
  <label for="editReservationEmail">
    Email:<br>
    <input type="email" name="editReservationEmail" id="editReservationEmail"><br>
  </label>

  <label for="editReservationPhone">
    Phone:<br>
    <input type="text" name="editReservationPhone" id="editReservationPhone"><br>
  </label>
  <button onclick="return checkFindReservation()" name="editreservationbutton" id="editreservationbutton">Find</button>
</form>