<h1>YOUR TABLE</h1>
<h3>Edit Reservation</h3>
<form method="POST" action="/reservation/results">
  <label>Reservation Number:
    <input type="text" name="editreservationnumber" id="editreservationnumber">
  </label>
  <p>OR</p>
  <label>Email:
    <input type="email" name="editreservationemail" id="editreservationemail">
  </label>
  <label>Phone:
    <input type="text" name="editreservationphone" id="editreservationphone">
  </label>
  <button onclick="return checkFindReservation()" name="editreservationbutton" id="editreservationbutton">Find</button>
</form>