<h1>Welcome to YOUR TABLE </h1>
<form method="POST" action="/search">
<label> Search Restaurant/City
    
    <input type="text" required="true" name="Restaurantsearch" id="Restaurantsearch">
    
</label>
<button id="RestaurantSearchButton" name="RestaurantSearchButton">Search</button>

</form>

<a href="/reservation/find" >Edit Existing Reservation</a>

<a href="/restaurant/create" >Add a New Restaurant</a>

<a href="/restaurant/find" >Edit Restaurant Details</a>

<a href="/manager/register" >Manager Registration</a>
<a href="/manager/login">Manager Login</a>