<h1>Welcome to YOUR TABLE</h1>

<p>You can start your reservation by searching city/restaurant at the upper right corner.</p>

<p class="lead">Note: the link below handles restaurant management and will not be visible to customers when app is online. It is visible only for demo and grading purpose.</p>

<a class="btn btn-warning" href="/business">System Admin Page</a>


