<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Your Table</a>
  {{!-- This is for responsive toggler --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/reservation/find">Edit Reservation</a>
      <a class="nav-item nav-link" href="/manager/login">Manager Login</a>
    </div>
  </div>

  <form class="form-inline" method="POST" action="/search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search City/Restaurant" aria-label="Search" required="true" name="Restaurantsearch" id="Restaurantsearch">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="RestaurantSearchButton" name="RestaurantSearchButton">Search</button>
  </form>
</nav>

<form action="/reservation/confirmation" method="POST" class="new-RSVN-form" id="new-RSVN-form">
<fieldset class="form-group">
  <legend>Contact Information</legend>
  <div class="form-group row">
    <label for="custName" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="custName" id="custName" placeholder="Full name"/>
    </div>
  </div>

  <div class="form-group row">
    <label for="custEmail" class="col-sm-2 col-form-label">Email Address</label>
    <div class="col-sm-10"> 
      <input type="email" class="form-control" name="custEmail" id="custEmail" placeholder="Email address" />
    </div> 
  </div>

  <div class="form-group row">
    <label for="custPhone" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="custPhone" id="custPhone" placeholder="Phone number" />
    </div>
  </div>
</fieldset>

<fieldset class="form-group">
  <legend>Reservation Details</legend>
  <div class="form-group row">
    <label for="custNumPeople" class="col-sm-2 col-form-label">Number of People</label>
    <div class="col-sm-10"> 
    <input type="number" class="form-control" name="custNumPeople" id="custNumPeople" min="1" max="10" required />
    </div>
  </div>

  <div class="form-group row">
    <label for="custTime" class="col-sm-2 col-form-label">Reservation Time</label>
      <div class="col-sm-10">
        {{#each timearray}}
        <div class="form-check">
        <input type="radio" name="custTime" id="custTime" value={{ this }}>{{ this }}  
        </div>
        {{/each}}
      </div>
  </div>

  <div class="form-group row">
    <label for="custPref" class="col-sm-2 col-form-label">Reservation Preference</label>
    <div class="col-sm-10"> 
      <input type="text"  class="form-control" name="custPref" id="custPref" placeholder="Reservation Preference" />
    </div>
  </div>
</fieldset>
  
  <input type="hidden" name="restaurantid" id="restaurantid" value="{{restaurantId}}">
  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" onclick="return checkReservationFields()">Make Reservation</button>
    </div>
  </div>
</form>
  