<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UT-8">
        <title>Search Results-City</title>
    </head>
    <body>
        <h1>Your Table</h1>
        <h2>Search Results</h2>
        <main>
        <script id = "search-template" type="text/x-handlebars-template">
        <div class="row">
            {{#each myRest}}
            <div class="name">
                <h3>{{RestaurantName}}</h3>
                <h3>{{RestaurantAddress}}</h3>
                <h3>{{RestaurantCity}}</h3>
            </div>
            {{/each}}
        </div><!-- / row -->
        </script>
        </main>
    </body>
</html>