<h1>YOUR TABLE</h1>
<h2>Find Restaurant Page</h2>

<form method="POST" action="/restaurant/edit">
    <label>Restaurant Registration Number:
        <input type="text" name="findRestaurant" id="findRestaurant" required>
    </label>
    
    <button type="submit" name="findRestButton" id="findRestButton">Edit Restaurant</button>
</form>