<h1>Restaurant Registration</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/restaurant/create">Restaurant Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/register">Manager Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurant/find">Edit Restaurant Details</a>
  </li>
</ul>

<form method="POST" action="/restaurant/confirmation">
<div class="form-group row">
    <label for="restaurantName" class="col-sm-2 col-form-label">Restaurant Name:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantName" id="restaurantName" required>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantAddress" class="col-sm-2 col-form-label">Restaurant Address:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantAddress" id="restaurantAddress" required>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantCity" class="col-sm-2 col-form-label">Restaurant City:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantCity" id="restaurantCity" required>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantState" class="col-sm-2 col-form-label">Restaurant State:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantState" id="restaurantState" required>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantRegNum" class="col-sm-2 col-form-label">Restaurant Registration Number:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantRegNum" id="restaurantRegNum" required>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantTime" class="col-sm-2 col-form-label">TimeSlots:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantTime" id="restaurantTime" required>
        <p>Please provide time slots in mentioned format(HH:MM) separated by comma in 24 hour format, Eg: 10.30,11.30,12.00,13.00</p>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantTabNum" class="col-sm-2 col-form-label">Table Count:</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" name="restaurantTabNum" id="restaurantTabNum" required>
    </div> 
</div>

<div class="form-group row">
    <label for="restaurantZip" class="col-sm-2 col-form-label">Zip Code:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="restaurantZip" id="restaurantZip" required>
    </div> 
</div>

<div class="form-group row">
  <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" name="restaurantRegButton" id="restaurantRegButton" onclick="return restaurantTimeslotCheck()">Register Restaurant</button>
  </div>
</div>

</form>