<h1>YOUR TABLE</h1>
<h2>Restaurant Registration Page</h2>

<form method="POST" action="/restaurant/confirmation">
<label>Restaurant Name:
    <input type="text" name="restaurantName" id="restaurantName" required>
</label>
<label>Restaurant Address:
    <input type="text" name="restaurantAddress" id="restaurantAddress" required>
</label>
<label>Restaurant City:
    <input type="text" name="restaurantCity" id="restaurantCity" required>
</label>
<label>Restaurant State:
    <input type="text" name="restaurantState" id="restaurantState" required>
</label>
<label>Restaurant Registration Number:
    <input type="text" name="restaurantRegNum" id="restaurantRegNum" required>
</label>
<label>TimeSlots:
    <input type="text" name="restaurantTime" id="restaurantTime" required>
</label>
<p>Please provide time slots separated by comma, Eg: 10.30,11.30,12.00</p>
<label>Table Count:
    <input type="number" name="restaurantTabNum" id="restaurantTabNum" required>
</label>
<label>Zip Code:
    <input type="text" name="restaurantZip" id="restaurantZip" required>
</label>
<button type="submit" name="restaurantRegButton" id="restaurantRegButton">Register Restaurant</button>


</form>