<h1>Make New Reservation</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/manager/home" id="homebutton" name="homebutton">Manager Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/createreservation" name="createresbutton" id="createresbutton">New Reservation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/logout" name="logoutbutton" id="logoutbutton">Logout</a>
  </li>
</ul>

<form action="/manager/confirmreservation" method="POST" class="new-RSVN-form" id="new-RSVN-form">
<fieldset class="form-group">
  <legend>Contact Information</legend>
  <div class="form-group row">
    <label for="custName" class="col-sm-2 col-form-label">Full Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="custName" id="custName" required/>
    </div>
  </div>

  <div class="form-group row">
    <label for="custEmail" class="col-sm-2 col-form-label">Email Address</label>
    <div class="col-sm-10"> 
      <input type="email" class="form-control" name="custEmail" id="custEmail"  required/>
    </div> 
  </div>

  <div class="form-group row">
    <label for="custPhone" class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="custPhone" id="custPhone" required />
    </div>
  </div>
</fieldset>

<fieldset class="form-group">
  <legend>Reservation Details</legend>
  <div class="form-group row">
    <label for="custNumPeople" class="col-sm-2 col-form-label">Number of People</label>
    <div class="col-sm-10"> 
    <input type="number" class="form-control" name="custNumPeople" id="custNumPeople" min="1" max="10" required />
    </div>
  </div>

  <div class="form-group row">
    <label for="custTime" class="col-sm-2 col-form-label">Reservation Time</label>
      <div class="col-sm-10">
        {{#each timearray}}
        <div class="form-check">
        <input type="radio" name="custTime" id="custTime" value={{ this }}>{{ this }}  
        </div>
        {{/each}}
      </div>
  </div>

  <div class="form-group row">
    <label for="custPref" class="col-sm-2 col-form-label">Reservation Preference</label>
    <div class="col-sm-10"> 
      <input type="text"  class="form-control" name="custPref" id="custPref"  />
    </div>
  </div>
</fieldset>
  
  <input type="hidden" name="restaurantid" id="restaurantid" value="{{restaurantId}}">
  
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" onclick="return checkReservationFields()">Make Reservation</button>
    </div>
  </div>
</form>
  