<h1>Something goes wrong...</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/manager/home" id="homebutton" name="homebutton">Manager Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/createreservation" name="createresbutton" id="createresbutton">New Reservation</a>
  </li>

</ul>

<p class="lead">{{errormessage}}</p>