<h1>YOUR TABLE</h1>
<h2>Forgot Password</h2>

<form action="/manager/login" method="POST">
    <label>Username:
        <input type="text" name="forgotusername" id="forgotusername" required>

    </label>
    <label>Restaurant Registration Number:
        <input type="text" name="forgotrestregnum" id="forgotrestregnum" required>
    </label>
    <label>New Password:
        <input type="password" name="forgotpassword" id="forgotpassword" required>
    </label>
    <label>Confirm New Password:
        <input type="password" name="forgotconfirmpassword" id="forgotconfirmpassword" required>
    </label>
    <button type="submit" name="forgotbutton" id="forgotbutton" onclick="return forgotPasswordMatch()">Reset Password</button>
</form>