<h1>YOUR TABLE</h1>
<h2>Manager Login</h2>

<form method="POST" action="/manager/home">
    <label>UserName:
        <input type="text" id="usernamelogin" name="usernamelogin" required>
    </label>
    <label>Password:
        <input type="password" id="passwordlogin" name="passwordlogin" required>
    </label>
    <button type="submit" name="buttonlogin" id="buttonlogin">Login</button>
    <a href="/manager/forgot">Forgot Password</a>
</form>