{{!-- TODO: styling --}}
<h3>System Admin Page</h3>

<a href="/manager/register" >Manager Registration</a>
<a href="/manager/login">Manager Login</a>
<a class="btn btn-warning" href="/restaurant/create" >Add a New Restaurant</a>

<a href="/restaurant/find" >Edit Restaurant Details</a>
